$primary-bg: #03A9F4;
$game-bg: white;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 11px;
$spacing-lg: 14px;
$spacing-xl: 18px;

html, body {
    background-color: $primary-bg
}

.cell {
    display: inline-block;
    width: 32px;
    height: 32px;
    outline: 1px solid black;
    background-repeat: no-repeat;
    background-size: cover;
}

.block_blue {
    background-image: url('/images/block_blue.png');
}

.block_orange {
    background-image: url('/images/block_orange.png');
}

.block_gray {
    background-image: url('/images/block_gray.png');
}

.block_green {
    background-image: url('/images/block_green.png');
}

.player-hand {
    display: inline-block;
    min-height: 100px;
    min-width: 150px;
    outline: 1px solid black;
}

.player-piece {
    display: inline-block;
    padding: 20px 10px;

    &.selected {
        background-color: $primary-bg;
    }

    .cell {
        outline: initial;
    }
}

.mam {
    margin: $spacing-md;
}

.ptl {
    padding-top: $spacing-lg;
}

.pbl {
    padding-bottom: $spacing-lg;
}

.pll {
    padding-bottom: $spacing-lg;
}

.prl {
    padding-bottom: $spacing-lg;
}

.phl {
    @extend .pll;
    @extend .prl;
}

.pvl {
    @extend .ptl;
    @extend .pbl;
}

.pal {
    @extend .pvl;
    @extend .phl;
}

.df {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.dib {
    display: inline-block;
}

.pos-abs {
    position: absolute;
}

.fill {
    width: 100%;
    height: 100%;
}

.abs-fill {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.pos-rel {
    position: relative;
}

.game {
    background-color: $game-bg;

    .lower-section {
        display: flex;
    }
}

.player-hand {
    @extend .mam;
}

.score-board {
    @extend .mam;
    min-width: 100px;
    min-height: 100px;
}

.total-score, .additional-score {
    text-align: right;
    margin: 4px 8px;
}

.additional-score {
    font-size: 1.25em;
}

.total-score {
    font-size: 2em;
}

.game-overlay {
    background-color: $primary-bg;
    opacity: 0.0;
    transition: opacity 0.8s;
    height: 0;
    overflow: hidden;

    &.active {
        opacity: 1.0;
        height: initial;
    }

    .message {
        font-size: 1.5em;
    }

    .score {
        font-size: 3em;
    }
}

.center-children {
    display: flex;
    align-items: center;
    justify-content: center;
}